body{
    font-family: Arial, Helvetica, san-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    background-color: pink;
    margin: 0;
}

.orange_highlight{
    color:#e8491d;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background-color: #35424a;
    color: #fff;
    padding: 10px;
    min-height: 70px;
    border-bottom: 5px solid #e8491d;
}

header a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

header ul{
    padding: 0;
    margin: 0;
}

header ul li{
    float: left;
    display: inline;
    padding: 0 20px;
}

header #branding{
    float: left;
}

#branding h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a{
    color:#e8491d;
    font-weight: bold;
}

header a:hover{
    color: #ccc;
}

#showcase{
    min-height: 400px;
    background: url(images/citybackground.jfif) no-repeat 0 -200px;
    color: #fff;
    text-align: center;
}

#showcase h1{
    font-size: 45px;
    margin-top: 80px;
    margin-bottom: 0px;
}

#showcase p{
    margin-top: 0px;
    font-size: 20px;
}

#newsletter{
    padding: 10px;
    color: #fff;
    background-color: #35424a;
}

#newsletter h1{
    float: left;
    color: red;
}

#newsletter form{
    float: right;
    margin-top: 20px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height: 20px;
}

.button_1{
    border: 0;
    color: #fff;
    background-color: #e8491d;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

#packages{
    margin-top: 20px;
}

#packages .package_item{
    width: 30%;
    float: left;
    padding: 10px;
    text-align:center;
}

#packages img{
    width: 200px;
}

footer{
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #e8491d;
    text-align: center;
}

/*Media Queries*/
@media(max-width:760px){
    header #branding, header nav, header nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
    
    #newsletter h1{
        float: none;
        text-align: center;
    }
    
    #newsletter form{
        float: none;
        text-align: center;
    }
    
    #packages .package_item{
    width: 100%;
    float: none;
    padding: 10px;
    text-align:center;
}
    

    
   
}